body
{
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    font-family: inherit;
}

.navbar
{
    background: #355998;
    height: 82px;
    min-width: 980px;
    color: white;
    display: block;
}
.logo{
    height: 50px;
    width: 178px;
    margin-left: 130px;
}
.navbar ul{
    margin-right: 80px;
}
.navbar ul li input{
    border-color: #1d2a5b;
    margin: 0;
    width: 172px;
    height: 25px;
    border-radius: 0px;
}
.navbar ul .nav-item{
    margin-left: 13px;
}
.navbar ul li p{
    padding-top: 8px;
    text-align: left;
    font-family: inherit;
    font-size: small;
}
.navbar ul li a{
    color: white;
}
.navbar .button{
    margin: 25PX;
    padding: 3px 0px 23px 3px;
    border-color: transparent;
    width: 87px;
    height: 23px;
    border-radius: 0px;
    color: white;
    text-align: center;
}
/*-------------------------------section banniere-------------------------------*/

section
{
    background: linear-gradient(white, #D3D8E8);
    background-color: #f3f4f9;
    color: #fff;
    padding-top: 30px 154;
    height: 620px;
}
.help{
    width: 540px;
    height: 199px;
    margin: 0px 40px;
}
.h2{
    color: #0e385f;
    line-height: 29px;
    margin: 40px 70px;
    width: 450px;
    word-spacing: -1px;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
}
.account{
    margin-left: 75px !important;
    margin-top: 20px;
}
.inscrip{
    width: 400px;
    height: 48px;
    color: #333333;
    font: 36PX, arial, sans-serif;
    margin: 0px 0px 5px;
    font-weight: 650;
    
}
.h5{
    font-size: 19px !important;
    color: #333 !important;
    margin-bottom: 30px;
}
.form{
    padding-top: 15px;
    margin-right: 20px;
   
}
h6{
    color: #90949c;
    padding-top: 15px;
    padding-right: 100PX;
}
select{
    width: 65px !important;
    height: 30px !important;
    text-align: center;
    background-color: #fff;
    color: #1c1e21;
    border: 1px solid #ccd0d5;
   
}
.genre{
    font: 18px, Arial, sans-serif;
    padding: 0px 10px 0px 3px;
    color: #1c1e21;
}

.cond{
    color: #777;
    font-size: 11px;
    width: 316px;
    padding-top: 10px;
}
button{
    font-family: 'Freight Sans Bold', Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    border-color: #3b6e22;
}
.pc{
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}
footer{
    background: white;
    color: #737373;
    margin: 0 auto;
    width: 980px;
}
footer p{
    font-size: 10px;
}
a{  
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}
